{% extends "index.html" %}
{% block code %}
<div >
  <h1>USER RECORD</h1>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          
            <div class="card-body">
              <h5 class="card-title">fullname<span></span></h5>
              <h5 class="card-title">email<span></span></h5>
              <h5 class="card-title">phonenumber<span></span></h5>
            </div>

            <button type="submit">DELETE</button>
            <button type="submit">UPDATE</button>
          </div>
        </div>
    </div>    
</div>

{% endblock code %}